 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Download NamePuzzle to teach your child how to spell their name.</p>
                    <p>When you match all the letters in the correct sequence, you win! Kids love it!<sup>*</sup></p>
                </div>
                <div class="col-lg-4">
                    <p>Add as many names you like, such as:</p>
                    <ul>
                        <li>Your child's name</li>
                        <li>Your niece's name</li>
                        <li>Your dog's name</li>
                        <li>Your phone number</li>
                        <li>Elmo</li>
                        <li>Even the cat's name!</li>
                    </ul>
                    <p>The world is your oyster, up to 10 characters long.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://itunes.apple.com/us/app/namepuzzle/id975078214?ls=1&mt=8" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download NamePuzzle
                    </a>
                </div>
            </div>
        </div>
    </section>
