    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">An app for personalized name puzzles.</span>
                        <hr />
                        <span class="skills"><a href="https://itunes.apple.com/us/app/namepuzzle/id975078214?ls=1&mt=8"> <img src="img/app-store.png" /></a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
